body {
  font-family: Arial;
  background-color: #f4f6f8;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

textarea {
  width: 60%;
  height: 60px;
  margin-bottom: 10px;
}

input {
  padding: 6px;
  width: 50%;
}

button {
  padding: 10px 20px;
  background-color: #2e86de;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

.question-card {
  background-color: white;
  padding: 15px;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px #ccc;
}

.answer {
  color: green;
  margin-left: 20px;
}
