body {
  font-family: 'Segoe UI';
  margin: 0;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
}

header {
  text-align: center;
  padding: 20px;
}

.container {
  width: 90%;
  margin: auto;
}

.card {
  background: white;
  color: black;
  padding: 20px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background: #ff7a18;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background: #ff3c00;
}

.question-card {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}